{% set currentLang = lang or (page.url | langFromUrl) %}
{% set fiPageUrl = collections.all | findTranslationUrl(translationKey, "fi") %}
{% set enPageUrl = collections.all | findTranslationUrl(translationKey, "en") %}
{% set topNavItems = (headerNav.en if currentLang == "en" else headerNav.fi) | eleventyNavigation %}
{% set navHome = topNavItems | navItemByKey("home") %}
{% set navMe = topNavItems | navItemByKey("me") %}
{% set navWork = topNavItems | navItemByKey("work") %}
{% set navPolitics = topNavItems | navItemByKey("politics") %}
{% set navWritings = topNavItems | navItemByKey("writings") %}
{% set navContact = topNavItems | navItemByKey("contact") %}
{% set meMegaMenu = headerNav.megaMenuMe.en if currentLang == "en" else headerNav.megaMenuMe.fi %}
{% set workMegaMenu = headerNav.megaMenuWork.en if currentLang == "en" else headerNav.megaMenuWork.fi %}
{% set politicsMegaMenu = headerNav.megaMenuPolitics.en if currentLang == "en" else headerNav.megaMenuPolitics.fi %}
{% set writingsMegaMenu = headerNav.megaMenuWritings.en if currentLang == "en" else headerNav.megaMenuWritings.fi %}
{% set contactMegaMenu = headerNav.megaMenuContact.en if currentLang == "en" else headerNav.megaMenuContact.fi %}
{% set openSubmenuLabel = "Open submenu:" if currentLang == "en" else "Avaa alavalikko:" %}


{% if currentLang == "en" %}
{% include "_nav-en.njk" %}
{% else %}
{% include "_nav-fi.njk" %}
{% endif %}
