---
permalink: /2006/02/16/98x-suuntanumeroalueen-bbs-puhelinluettelo-vuodelta-1991/
layout: false
---
<!doctype html>
<html lang="fi">
  <head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex, follow">
    <meta http-equiv="refresh" content="0; url=/98x-bbs-purkkilista/">
    <link rel="canonical" href="/98x-bbs-purkkilista/">
    <title>Siirry sivulle</title>
  </head>
  <body>
    <p>Tämä sivu on siirtynyt. <a href="/98x-bbs-purkkilista/">Siirry tästä</a>.</p>
  </body>
</html>
