---
permalink: /2021/04/26/puheenvuoro-kohdassa-%c2%a7-selvitys-oulun-yliopiston-sijoittumisesta-raksilan-alueelle/
layout: false
---
<!doctype html>
<html lang="fi">
  <head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex, follow">
    <meta http-equiv="refresh" content="0; url=/2021/04/26/puheenvuoro-valtuustossa-keskustakampus-hajottaisi-linnanmaan-monitieteisen-kokonaisuuden/">
    <link rel="canonical" href="/2021/04/26/puheenvuoro-valtuustossa-keskustakampus-hajottaisi-linnanmaan-monitieteisen-kokonaisuuden/">
    <title>Siirry puheenvuoroon</title>
  </head>
  <body>
    <p>Tämä puheenvuoro on yhdistetty siivottuun versioon. <a href="/2021/04/26/puheenvuoro-valtuustossa-keskustakampus-hajottaisi-linnanmaan-monitieteisen-kokonaisuuden/">Siirry puheenvuoroon</a>.</p>
  </body>
</html>
