---
permalink: /2018/12/10/puheenvuoro-valtuustossa-oulun-on-noustava-perusopetuksen-resurssien-haantapaasta/
layout: false
---
<!doctype html>
<html lang="fi">
  <head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex, follow">
    <meta http-equiv="refresh" content="0; url=/2018/12/17/puheenvuoro-valtuustossa-oulun-on-noustava-perusopetuksen-resurssien-haantapaasta/">
    <link rel="canonical" href="/2018/12/17/puheenvuoro-valtuustossa-oulun-on-noustava-perusopetuksen-resurssien-haantapaasta/">
    <title>Siirry puheenvuoroon</title>
  </head>
  <body>
    <p>Tämä puheenvuoro on korjattu oikealle kokouspäivälle. <a href="/2018/12/17/puheenvuoro-valtuustossa-oulun-on-noustava-perusopetuksen-resurssien-haantapaasta/">Siirry puheenvuoroon</a>.</p>
  </body>
</html>
