---
layout: false
permalink: /mediassa/2025/10/01/okm-osaava-digipe-tyoryhma-2025/
---
<!doctype html>
<html lang="fi">
  <head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex, follow">
    <meta http-equiv="refresh" content="0; url=/mediassa/2025/10/01/okm-osaava-digiope-tyoryhma-2025/">
    <link rel="canonical" href="/mediassa/2025/10/01/okm-osaava-digiope-tyoryhma-2025/">
    <title>Siirry sivulle</title>
  </head>
  <body>
    <p>Tämä sivu on siirtynyt. <a href="/mediassa/2025/10/01/okm-osaava-digiope-tyoryhma-2025/">Siirry tästä</a>.</p>
  </body>
</html>
