---
permalink: /2020/11/10/kuntalain-94-2%c2%a7-mukainen-keskustelu-yliopiston-muuttosuunnitelmista/
layout: false
---
<!doctype html>
<html lang="fi">
  <head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex, follow">
    <title>Puheenvuorot on erotettu omille sivuilleen</title>
  </head>
  <body>
    <main>
      <h1>Puheenvuorot on erotettu omille sivuilleen</h1>
      <p>Tämä vanha koontisivu on purettu kolmeen erilliseen valtuustopuheenvuoroon.</p>
      <ul>
        <li><a href="/2020/11/09/puheenvuoro-valtuustossa-keskustakampus-hajottaisi-linnanmaan-innovaatiokeskittyman/">Keskustakampus hajottaisi Linnanmaan innovaatiokeskittymän</a></li>
        <li><a href="/2020/11/09/puheenvuoro-valtuustossa-kampusratkaisun-vaikutuksista-tarvitaan-yhteinen-tiekartta/">Kampusratkaisun vaikutuksista tarvitaan yhteinen tiekartta</a></li>
        <li><a href="/2020/11/09/puheenvuoro-valtuustossa-linnanmaan-kampuksella-on-kansainvalista-arkkitehtuurihistoriallista-arvoa/">Linnanmaan kampuksella on kansainvälistä arkkitehtuurihistoriallista arvoa</a></li>
      </ul>
    </main>
  </body>
</html>
