---
layout: base.njk
title: Ohjatut kandidaatintyöt
description: "Jari Larun ohjaamat kandidaatintutkielmat OuluREPO-arkistosta, uusin ensin. Sivutettu arkisto ja scoped-haku."
translationKey: theses_kandit
suppressTableFilters: true
pageStyles:
  - /css/theses-page.css
  - /css/find-explore.css
pageScripts:
  - /js/find-explore.js
schemaType: CollectionPage
pagination:
  data: thesesArchivePagesKanditFi.pages
  size: 1
  alias: thesesArchive
permalink: "{{ thesesArchive.permalink }}"
eleventyComputed:
  eleventyExcludeFromCollections: "{{ 'true' if thesesArchive.pageKind != 'landing' else '' }}"
  sitemap:
    ignore: "{{ 'true' if thesesArchive.pageKind != 'landing' else '' }}"
  robots: "{{ 'noindex, follow' if thesesArchive.pageKind != 'landing' else 'index, follow' }}"
---
{% set pageModel = thesesFindExplorePageKanditFi %}
{% set findExploreKind = "theses" %}
{% set findExploreScope = "fi" %}
{% set findExploreLang = "fi" %}
{% set findExploreSearchLanguage = "fi,en" %}
{% set findExploreEyebrow = "Find & Explore" %}
{% set findExploreTitle = "Etsi kandidaatintöistä" %}
{% set findExploreDescription = "Haku rajattu Jari Larun ohjaamiin kandidaatintutkielmiin." %}
{% set findExploreSearchLabel = "Hae otsikolla, tekijällä tai aiheella" %}
{% set findExplorePlaceholder = "Esim. tekoäly, opettajankoulutus..." %}
{% set findExploreYearLabel = "Vuosi" %}
{% set findExploreAllYearsLabel = "Kaikki vuodet" %}
{% set findExploreTopicLabel = "Aihe" %}
{% set findExploreAllTopicsLabel = "Kaikki aiheet" %}
{% set findExploreResetLabel = "Tyhjennä" %}
{% set findExploreMoreLabel = "Näytä lisää" %}
{% set findExploreInitialStatus = "Alla oleva arkistotaulukko näkyy suoraan." %}
{% set findExploreNoScript = "Interaktiivinen haku vaatii JavaScriptin. Arkistotaulukko toimii silti." %}
{% set findExploreHideTypeControl = true %}
{% set findExploreHideRoleControl = true %}
{% set findExplorePinnedType = pageModel.pinnedType %}
{% set findExplorePinnedRole = pageModel.pinnedRole %}
{% set findExploreYears = pageModel.years %}
{% set findExploreTopicOptions = pageModel.topicOptions %}
{% set findExploreExternalResultsId = "thesesArchiveTbodyKanditFi" %}
{% set thesisArchiveTableId = "thesesArchiveTableKanditFi" %}
{% set thesisArchiveTbodyId = "thesesArchiveTbodyKanditFi" %}
{% set thesisArchiveHeading = "Kandidaatintyöt" %}
{% set thesisArchiveDescription = "Ohjatut kandidaatintyöt, uusin ensin." %}
{% set thesisArchiveLang = "fi" %}
{% set thesisArchiveLandingUrl = "/opinnaytteet/kandit/" %}
{% set thesisArchivePageBase = "/opinnaytteet/kandit/sivu/" %}
{% set thesisArchiveWithFindExplore = true %}
{% set thesisArchiveTypeRoleOptions = [] %}
{% set subarchiveEyebrow = '<a href="/opinnaytteet/" class="text-decoration-none">Opinnäytteet</a> · Kandit' %}
{% set subarchiveHeading = "Ohjatut kandidaatintyöt" %}
{% set subarchiveIntro = "OuluREPOsta koottu arkisto Jari Larun ohjaamiin kandidaatintutkielmiin. Uusin ensin." %}
{% set subarchiveFooter = 'Lähde: <a href="https://oulurepo.oulu.fi" target="_blank" rel="noopener noreferrer" class="text-decoration-underline">OuluREPO</a>. Palaa <a href="/opinnaytteet/" class="text-decoration-underline">opinnäytehubiin</a> tai selaa <a href="/opinnaytteet/gradut/" class="text-decoration-underline">ohjattuja graduja</a> ja <a href="/opinnaytteet/tarkastetut/" class="text-decoration-underline">tarkastettuja töitä</a>.' %}
{% include "thesis-subarchive-page.njk" %}
