---
layout: blog-list.njk
title: Blogi ja vanhat kirjoitukset
description: "Jari Larun blogiarkisto: kirjoituksia teknologiasta, koulutuksesta, politiikasta, matkasta ja arjen havainnoista vuosien varrelta."
permalink: /blogi/
translationKey: blog_index
schemaAbout:
  - "@type": "Thing"
    name: "Koulutus ja teknologia"
    description: "Kirjoituksia opetuksesta, oppimisesta ja teknologian roolista koulutuksessa."
  - "@type": "Thing"
    name: "Politiikka ja yhteiskunta"
    description: "Havaintoja kunnallispolitiikasta, päätöksenteosta ja yhteiskunnallisista kysymyksistä."
  - "@type": "Thing"
    name: "Arki ja matkailu"
    description: "Henkilökohtaisia kirjoituksia arjesta, matkasta ja elämästä."
---
