---
layout: base.njk
title: Esitykset ja opetusmateriaalit
description: Jari Larun esitykset, videot, luentomateriaalit ja avoimet oppimateriaalit tekoälystä, digipedagogiikasta, oppimisteknologiasta ja koulutuksesta.
permalink: /esitykset/
translationKey: presentations_index
schemaType: CollectionPage
pageStyles:
  - /css/presentations-page.css
pageScripts:
  - /js/pe-list-render.js
  - /js/content-presets.js
  - /js/content-engine.js
  - /js/presentations-page.js
schemaAbout:
  - "@type": "Thing"
    name: "Tekoäly opetuksessa"
    description: "Tekoälylukutaito, generatiivinen tekoäly ja sen pedagoginen hyödyntäminen."
  - "@type": "Thing"
    name: "Digipedagogiikka"
    description: "Digitaaliset oppimisympäristöt, mobiilioppiminen ja teknologiatuettu pedagogiikka."
  - "@type": "Thing"
    name: "Oppimisteknologia"
    description: "Oppimisen teknologiset ratkaisut ja niiden tutkimukseen perustuva käyttö."
  - "@type": "Thing"
    name: "Opettajankoulutus"
    description: "Opettajien täydennyskoulutus ja teknologiaosaaminen."
  - "@type": "Thing"
    name: "Avoimet oppimateriaalit"
    description: "Avoimesti saatavilla olevat esitykset ja luentomateriaalit."
schemaMentions:
  - "@type": "CollegeOrUniversity"
    name: "Oulun yliopisto"
    url: "https://www.oulu.fi/"
---

{% set pageModel = presentationsPage %}
{% set canonicalItems = (pageModel and pageModel.items) or [] %}
{% set ssDataItems = pageModel.ssDataItems %}
{% set canvaPageUrls = pageModel.canvaPageUrls %}
{% set curatedVideoItems = pageModel.curatedVideoItems %}
{% set videoSeriesItems = pageModel.videoSeriesItems %}
{% set videoContentCount = pageModel.videoContentCount %}
{% set presentationAnalysisCount = pageModel.presentationAnalysisCount %}
{% set presentationMaterialTotal = pageModel.presentationMaterialTotal %}
{% set presentationContextItems = pageModel.presentationContextItems %}
{% set presentationContextFeedbackTotal = pageModel.presentationContextFeedbackTotal %}
{% set highlightedContextItems = pageModel.highlightedContextItems %}

{% include "presentations/hero.njk" %}
{% include "presentations/routes.njk" %}
{% include "presentations/feature-highlights.njk" %}

{% set topicProfileKeys = ["tekoalylukutaito", "opettajankoulutus", "koulutusteknologia-ja-oppimisymparistot"] %}
{% set topicProfileTitleId = "presentations-topic-profiles-title" %}
{% set topicProfileEyebrow = "Teemat" %}
{% set topicProfileTitle = "Samat aiheet jatkuvat myös muualla sivustolla" %}
{% set topicProfileLead = "Esitykset liittyvät tutkimukseen, lausuntoihin, mediaan ja kirjoituksiin, joissa samoja aiheita käsitellään toisesta näkökulmasta." %}
{% include "topic-profile-links.njk" %}

{% set presentationArchiveItems = canonicalItems %}
{% set presentationArchiveLocale = "fi" %}
{% include "presentations/archive.njk" %}
{% include "presentations/background-and-sources.njk" %}

{# Data ladataan async /data/presentations-page.json:sta. #}
