---
permalink: /julkaisut/tieteelliset/
layout: false
---
<!doctype html>
<html lang="fi">
  <head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex, follow">
    <meta http-equiv="refresh" content="0; url=/vaitoskirja/#julkaisutiedot">
    <link rel="canonical" href="/vaitoskirja/">
    <title>Siirry väitöskirjasivulle</title>
  </head>
  <body>
    <p>Tieteellisten julkaisujen alisivu on yhdistetty väitöskirjasivuun. <a href="/vaitoskirja/#julkaisutiedot">Siirry julkaisutietoihin</a>.</p>
  </body>
</html>
